@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* ========================
   1. Base / Resets
   ======================== */

:root {
    --bg-color: #0C080A;
    --text-color: #D1D1D1;
    --primary-color:#040403;
    --secondary-color: #0C080A;
    --hightlight: #EAD94C;
}
body.light-theme {
    --bg-color: #F7FFF7;
    --text-color: #040403;
    --primary-color:#6610F2;
    --secondary-color: #0C080A;
    --hightlight: #EAD94C;
}

/* ========================
   2. Layout
   ======================== */

html {
    font-family: 'Poppins', sans-serif, serif;
}
body {
    /* Box */

    height: 100vh;
    width: 100%;
    margin: 0;
    /* Visuals */
    background-color: var(--bg-color);
}
header {
    /* Position */

    /* Box */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 100%;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    /* Visuals */
    z-index: 1000;
    background-color: transparent;
    color: var(--text-color);
}

main {
    /* Box */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 65vh;
    /* Visuals */
    z-index: 90;
    background-image: linear-gradient(
      var(--bg-color) 0%,
      var(--bg-color) 30%,
      var(--text-color) 100%
      );
}


/* ========================
   3. Components
   ======================== */

.navigation {
    /* Position */
    position: absolute;
    bottom: 0;
    /* Box */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 50%;
   }

#sidebar {
  /* Position */
  position: absolute;
  top: 0;
  right: 0;
  /* Box */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 20vw;
  padding-right: 1rem;
  /* Visuals */
  z-index: 200;
  background-color: var(--secondary-color);

  transition: all 0.2s ease-in;
  }

.section {
  display: block;
  height: auto;
  width: 52vw;
  padding: 4rem;
  margin: 2rem;
  border-radius: 2rem;
  border: solid 1px var(--text-color);
  z-index: 100;
  background-color: rgba(0,0,0,0);
  transition: all 0.5s ease;
}
.section h1 {
  font-size: clamp(1.2rem, 1.5vw, 2rem);
}
.section p, .section ul li {
   font-size: clamp(0.8rem, 1.5vw, 2rem);
}
#bio {
  margin-top: 32rem;
}
#project-slide {
  display: block;
  height: auto;
  width: 90%;
  margin: 3rem;
  border-radius: 2rem;
  border: solid 1px var(--text-color);
  z-index: 100;
  background-color: rgba(0,0,0,0);
  transition: all 0.5s ease;
}

/* ========================
   4. Typography 
   ======================== */

.header-links {
  position:relative;
  /* Box */
  height: 2rem;
  width: 6.7rem;
  padding: 0.4rem; 
  margin-top: 2rem;
  margin: 1.5rem;
  /* Text */
  font-weight: 500;
  font-size: clamp(0.8rem, 1.5vw, 2rem);
  text-decoration: none;
  /* Visuals */
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-links:hover {
  color: var(--hightlight);
  
}
.header-links:hover::after {
  color: var(--hightlight);
  right: -1.2rem;
}
.header-links:hover::before {
  color: var(--hightlight);
  left: -1.2rem;
  
}
.header-links::before {
  content:"[";
  left: -0.8rem;
  position: absolute;
  transition: all 0.5s ease;
}
.header-links::after {
  content:"]";
  right: -0.8rem;
  position: absolute;
  transition: all 0.5s ease;
}
#header-name {
  margin-bottom: 15rem;
}
.scroll-alert {
  position: absolute;
  bottom: -8vw;

  font-size: 1rem;
  font-weight: 400;

  animation: shake-vertical 3s ease-in-out infinite;
  transition: all 0.1s ease-in-out;
}

#bio p, #bio ul  {
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 5rem;
  color: var(--text-color);

}
#skills ol {
  margin-left: 5rem;
  padding: 0;
  color: var(--text-color);
}
li {
  margin: 0;

}
h1 {
  margin-left: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;

  font-weight: 500;
  font-size: 2rem;
  
  color: var(--text-color);
}





/* ========================
   5. Visuals / Animations 
   ======================== */
.sidebar-icon {
  /* Position */
  position: absolute;
  right: 1rem;
  top: 1rem;
  fill: var(--text-color);
  padding: 0.2rem;
  margin-right: 1rem;
  cursor: pointer;
  
}
.sidebar-icon:hover {
  fill: var(--hightlight);
}
#sidebar-x {
  /* Position */
  display: block;
  place-self: end;
  fill: var(--text-color);
  stroke: var(--text-color);
  padding: 0.4rem;
  margin: 0.2rem;
  cursor: pointer;
}
#header-image {
  height: 20rem;
  width: 20rem;
  border-radius: 10rem;
  object-fit: cover;
}
.dots {
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: var(--hightlight);
      border-radius: 50%;
      pointer-events: none;
      transform: translate(-50%, -50%);
      z-index: 9999;
}



/* ========================
   6. Utility 
   ======================== */

.fixed {
    position: fixed;
    top:0;
   }
.block {
  display:block;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
  visibility: hidden;
}
.show {
  visibility: visible;
  animation : section 0.5s ease-in;
}
.sidebarHidden {
  transform: translateX(800px);
  opacity: 0;
}
.sidebarShow {
  transform: translateX(0);
  opacity: 1;
}

.header-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@keyframes section {
  from {
    opacity: 0;
    
  }
  to {
    opacityy: 1;
    
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}


            /* ======= SLIDER ======== */
            /* Hide the checkbox */
            .toggle input {
              display: none;
            }

            /* The background track */
            .toggle {
              position: relative;
              display: inline-block;
              width: 60px;
              height: 34px;
              cursor: pointer;
            }

            .slider {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: var(--primary-color);
              border-radius: 34px;
              transition: 0.3s;
            }

            /* The circle (thumb) */
            .slider::before {
              content: "";
              position: absolute;
              height: 26px;
              width: 26px;
              left: 4px;
              bottom: 4px;
              background-color: white;
              border-radius: 50%;
              transition: 0.3s;
            }

            /* Checked (ON) state */
            .toggle input:checked + .slider {
              background-color: var(--text-color);
            }

            .toggle input:checked + .slider::before {
              transform: translateX(26px);
            }


/* ======= PICTURE SHOWCASE ======== */
.slider-container {
  width: 100%;
  height: 60%;
  overflow: hidden;
  position: relative;
  background: #f5f5f5;
  padding: 20px 0;
}

.slider-track {
  display: flex;
  width: 100%;
  height: 60%;
  animation: scrollPics 12s linear infinite;
}

.slide {
  flex: 0 0 auto;
  height: 50%;
  width: 50%;
  margin-right: 20px;
  object-fit: contain;
  text-align: center;
}

.slide img {
  width: 100%;
  object-position: top;
  height: auto;
  display: block;
  
  border-radius: 1rem;
}

@keyframes scrollPics {
  0% { transform: translateX(0); }
  100% { transform: translateX(-155%); }
}